# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.egg-info/
dist/
.pytest_cache/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
